.mainframe-header { 

    height:48px;
    line-height: 48px;
    font-size: 16px;
    top:0px;
    position:fixed;
    width: 100%;
    background-color:#F8F8F8;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

.header-content-left {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 13px;
    vertical-align: baseline;
    -webkit-box-align: center;
    -webkit-box-pack:start;
    font-size: 13px;
    width: 50%;
    height: 48px;
    line-height: 48px;
}
.header-content-left-main-icon {
  display: inline-flex;
  background: url(flame.svg) 0px 0px / contain no-repeat;
  -webkit-box-align: center;
  text-size-adjust: 100%;
  position: relative;
  padding-right: 8px;
  width: 40px;
  height: 32px;
  margin: 0 8px 0 48px;
}

.header-content-left-main-icon::after{
  background-color: black;
  display: inline-block;
  content: "";
  height: 16px;
  width: 1px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -6px;
}

.header-content-left-menu{
 position: relative;
  padding-right: 8px;
  margin: 0 8px 0 4px;
}

.header-content-right {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    line-height: 13px;
    vertical-align: baseline;
    -webkit-box-align: center;
    -webkit-box-pack:start;
    font-size: 13px;
    width: 50%;
    height: 48px;
    line-height: 48px;
}

.header-content-right-message{
  background: url(message.svg) 0px 0px / contain no-repeat;
  position: relative;
  padding-right: 8px;
  width: 40px;
  height: 32px;
  margin: 0 8px 0 24px;
}

.header-content-right-message::after{
  background-color: black;
  display: inline-block;
  content: "";
  height: 16px;
  width: 1px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -6px;
}

.header-content-right-date{
  position: relative;
  padding-right: 8px;
  margin: 0 8px 0 4px;
}
.header-content-right-date::after{
  background-color: black;
  display: inline-block;
  content: "";
  height: 16px;
  width: 1px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -6px;
}


.header-content-right-userinfo{
  position: relative;
  padding-right: 8px;
  margin: 0 32px 0 4px;
}




